$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#main {
  $width: 5em !global;
  width: $width;
}

#sidebar {
  width: $width;
}