$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#main {
  $width: 5em !global;
  width: $width;
}

#sidebar {
  width: $width;
}

$content: "First content";
$content: "Second content?" !default;
$new_content: "First time reference" !default;

#secondary {
  content: $content;
  new-content: $new_content;
}

$content3: null;
$content3: "Second content?" !default;
$new_content: "First time reference" !default;

#terciary {
  content: $content3;
}